Checks: "
        -*,

        modernize-use-*,
        -modernize-use-trailing-return-type*,

        cppcoreguidelines-*,

        performance-*,

        readability-*,
        -readability-magic-numbers,
        -readability-redundant-access-specifiers,
        -readability-convert-member-functions-to-static,
        -readability-isolate-declaration,
        "

AnalyzeTemporaryDtors: false
HeaderFilterRegex:     'src/.*'
FormatStyle:           file
CheckOptions:
  - key: readability-identifier-length.IgnoreVariableNames
    value: True
  - key: readability-identifier-length.IgnoreLoopCounterNames
    value: True
