Checks: "
        -*,

        modernize-use-*,
        -modernize-use-trailing-return-type*,

        cppcoreguidelines-*,
        -cppcoreguidelines-macro-usage,
        -cppcoreguidelines-pro-bounds-array-to-pointer-decay,

        performance-*,

        readability-*,
        -readability-magic-numbers,
        -readability-redundant-access-specifiers,
        -readability-convert-member-functions-to-static,
        -readability-isolate-declaration,
        -readability-identifier-length,
        "

AnalyzeTemporaryDtors: false
HeaderFilterRegex:     'src/.*'
FormatStyle:           file
UseColor:              true

CheckOptions:
  - key: readability-identifier-length.IgnoreVariableNames
    value: True
  - key: readability-identifier-length.MinimumLoopCounterNameLength
    value: 1
